@model sinfo.Areas.Cnp.Models.Localidad

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Localidad</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CodigoPonal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodigoPonal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodigoMunicipio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodigoMunicipio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Municipio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Municipio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreLocalidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreLocalidad)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LocalidadId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
