@model Comun.DTOs.CnpHechoDTO
@{
    ViewBag.Title = "Adicionar";
}
@section scripts{
    <script>

        $(document).ready(function () {           

            var urlLocalidades = "@Url.Action("ConsultarLocalidadesPorMunicipio", "LugarGeografico")";
            var municipioId = "@ViewBag.MunicipioId";

            $.ajax({
                type: 'POST',
                url: urlLocalidades + "/" + municipioId,
                dataType: 'json',
                data: {_municipioId : municipioId},

                success: function (datos) {
                    $.each(datos, function (i, dato) {
                        $("#localidad").append('<option value="' + dato.Value + '">' + dato.Text + '</option>');
                    });
                },
                error: function (ex) {
                    alert('Fallo al traer los registros' + ex);
                }
            })

            //Consulta barrios asociados al municipio
            var urlBarrios = "@Url.Action("ConsultarBarriosPorMuncipio", "LugarGeografico")";          

            $.ajax({
                type: 'POST',
                url: urlBarrios + "/" + municipioId,
                dataType: 'json',
                data: {_municipioId : municipioId},

                success: function (datos) {
                    $.each(datos, function (i, dato) {
                        $("#barrio").append('<option value="' + dato.Value + '">' + dato.Text + '</option>');
                    });
                    $("#barrio").trigger("chosen:updated");

                },
                error: function (ex) {
                    alert('Fallo al traer los registros' + ex);
                }
            })
        });       
    </script>
}

<div class="breadcrumb">
    <ol class="breadcrumb pull-right">
        <li><a href="#">Inicio</a></li>
        <li class="active">Registrar</li>
    </ol>
    <h3>Hechos <small>Proceso Verbal Abreviado</small></h3>
</div>
<div class="panel panel-default">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <form>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="row">
                <div class="col-md-12">
                    <p class="text-center">Ubicación</p>
                    <hr />
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Fecha, htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Fecha, new { htmlAttributes = new { @class = "form-control input-sm", @required = true } })
                            @Html.ValidationMessageFor(model => model.Fecha, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.HoraHechos, htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.HoraHechos, new { htmlAttributes = new { @class = "form-control input-sm" } })
                            @Html.ValidationMessageFor(model => model.HoraHechos, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.TipoMedida, htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-12">
                            <select class="form-control input-sm" name="TipoMedidaId" id="TipoMedidaId">
                                <option value="No" selected>Querella</option>
                                <option value="Si">Aplicación Código Nacional</option>
                            </select>
                            @Html.ValidationMessageFor(model => model.TipoMedidaId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>       
            </div>


            <div class="row">
                <div class="col-md-12">
                    <p class="text-center">Ubicación</p>
                    <hr />
                </div>
            </div>
            <div class="row">   
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Localidad, htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-12">
                            @Html.DropDownList("LocalidadId", new SelectList(string.Empty, "Value", "Text"), "--- Seleccionar ---", htmlAttributes: new { @class = "form-control input-sm", @id = "localidad", @required = true })
                            @Html.ValidationMessageFor(model => model.LocalidadId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Barrio, htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-12">
                            @Html.DropDownList("BarrioId", new SelectList(string.Empty, "Value", "Text"), "--- Seleccionar ---", htmlAttributes: new { @class = "form-control input-sm", @required = true, @id = "barrio" })
                            @Html.ValidationMessageFor(model => model.BarrioId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.DireccionHechos, htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.DireccionHechos, new { htmlAttributes = new { @class = "form-control input-sm" } })
                            @Html.ValidationMessageFor(model => model.DireccionHechos, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Latitud, htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Latitud, new { htmlAttributes = new { @class = "form-control input-sm" } })
                            @Html.ValidationMessageFor(model => model.Latitud, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>                
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Longitud, htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Longitud, new { htmlAttributes = new { @class = "form-control input-sm" } })
                            @Html.ValidationMessageFor(model => model.Longitud, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <p class="text-center">Relato</p>
                    <hr />
                </div>
            </div>

           

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        @Html.LabelFor(model => model.RelatoHechos, htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.RelatoHechos, new { htmlAttributes = new { @class = "form-control input-sm" } })
                            @Html.ValidationMessageFor(model => model.RelatoHechos, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">               
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.TipoLugar, htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-12">
                            <select class="form-control input-sm" name="TipoLugarId" id="TipoLugarId">
                                <option value="TRANSMILENIO" selected>TRANSMILENIO</option>
                                <option value="SITP">SITP</option>
                                <option value="MIO">MIO</option>
                                <option value="TRANSMETRO">TRANSMETRO</option>
                                <option value="MEGABUS">MEGABUS</option>
                                <option value="TRANSCARIBE">TRANSCARIBE</option>
                                <option value="METRO">METRO</option>
                                <option value="METROLINEA">METROLINEA</option>
                                <option value="OTRO">OTRO</option>
                                <option value="OTRO">No Aplica</option>
                            </select>
                            @Html.ValidationMessageFor(model => model.TipoMedidaId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>   

            </div> 


            <div class="row">
                <div class="col-md-12">
                    <p class="text-center">Infración</p>
                    <hr />
                </div>
            </div>


            <div class="row">                
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Titulo, htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-12">
                            @Html.DropDownList("TituloId", new SelectList(string.Empty, "Value", "Text"), "--- Seleccionar ---", htmlAttributes: new { @class = "form-control input-sm", @required = true, @id = "titulo" })
                            @Html.ValidationMessageFor(model => model.TituloId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Capitulo, htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-12">
                            @Html.DropDownList("CapituloId", new SelectList(string.Empty, "Value", "Text"), "--- Seleccionar ---", htmlAttributes: new { @class = "form-control input-sm", @required = true, @id = "capitulo" })
                            @Html.ValidationMessageFor(model => model.CapituloId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Articulo, htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-12">
                            @Html.DropDownList("ArticuloId", new SelectList(string.Empty, "Value", "Text"), "--- Seleccionar ---", htmlAttributes: new { @class = "form-control input-sm", @required = true, @id = "articulo" })
                            @Html.ValidationMessageFor(model => model.ArticuloId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Numeral, htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-12">
                            @Html.DropDownList("NumeralId", new SelectList(string.Empty, "Value", "Text"), "--- Seleccionar ---", htmlAttributes: new { @class = "form-control input-sm", @required = true, @id = "numeral" })
                            @Html.ValidationMessageFor(model => model.NumeralId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>   
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Literal, htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-12">
                            @Html.DropDownList("LiteralId", new SelectList(string.Empty, "Value", "Text"), "--- Seleccionar ---", htmlAttributes: new { @class = "form-control input-sm", @required = true, @id = "literal" })
                            @Html.ValidationMessageFor(model => model.LiteralId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <p class="text-center">Descargos</p>
                    <hr />
                </div>
            </div>               
            
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Descargos, htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Descargos, new { htmlAttributes = new { @class = "form-control input-sm" } })
                            @Html.ValidationMessageFor(model => model.Descargos, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="text-center">Medios de Policía</p>
                    <hr />
                </div>
            </div>   
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <input type="checkbox" name="Mop" value="1"> @Html.LabelFor(model => model.Mop, htmlAttributes: new { })<br>
                    <input type="checkbox" name="Mrs" value="0"> @Html.LabelFor(model => model.Mrs, htmlAttributes: new { })<br>
                    <input type="checkbox" name="Minc" value="0"> @Html.LabelFor(model => model.Minc, htmlAttributes: new { })<br>
                    <input type="checkbox" name="Mtpp" value="0"> @Html.LabelFor(model => model.Mtpp, htmlAttributes: new { })<br>
                    <input type="checkbox" name="Msia" value="0"> @Html.LabelFor(model => model.Msia, htmlAttributes: new { })<br>
                    <input type="checkbox" name="Mtppp" value="0"> @Html.LabelFor(model => model.Mtppp, htmlAttributes: new { })<br>
                    <input type="checkbox" name="Minicoe" value="0"> @Html.LabelFor(model => model.Minicoe, htmlAttributes: new { })<br>
                    <input type="checkbox" name="Minisoe" value="0"> @Html.LabelFor(model => model.Minisoe, htmlAttributes: new { })<br>
                </div>
            </div>   
            
            <div class="row">
                <div class="col-md-12">
                    <p class="text-center">Traslado Proceso</p>
                    <hr />
                </div>
            </div>  

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Apelacion, htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-12">
                            <select class="form-control input-sm">
                                <option value="No" selected>No</option>
                                <option value="Si">Si</option>
                            </select>
                            @Html.ValidationMessageFor(model => model.Apelacion, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>                
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.EntidadRemiteApelacionId, htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.EntidadRemiteApelacionId, new { htmlAttributes = new { @class = "form-control input-sm" } })
                            @Html.ValidationMessageFor(model => model.EntidadRemiteApelacionId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>               
            </div>       
            <br />
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="text-right">
                                <button data-ajax="true" data-confirm="¿Esta seguro de asignar este curso al alumno?" type="submit" class="btn btn-primary">Guardar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    }
</div>