<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Lista de Valores <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Tipo Lugar", "Index", "TipoLugars")</li>
                            <li>@Html.ActionLink("Comportamiento", "Index", "ListaComportamientoes")</li>
                            <li>@Html.ActionLink("Estado Medida", "Index", "EstadoMedidas")</li>
                            <li>@Html.ActionLink("Localidades", "Index", "Localidads")</li>
                            <li role="separator" class="divider"></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Administrador <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Eventos Servicio Web", "Index", "StatusCodeWebServices")</li>
                            <li>@Html.ActionLink("Código Respuesta", "Index", "CodigoResponses")</li>
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("Usuario Convenio", "Index", "UsuarioAutorizadoes")</li>
                            <li>@Html.ActionLink("Permiso Usuario", "Index", "PermisoServicioWebs")
                            <li>@Html.ActionLink("Url Base", "Index", "UrlBases")</li>
                            <li>@Html.ActionLink("Url Servicio Web", "Index", "UrlServicioWebs")
                    </li>
                </ul>                  
                    <li>@Html.ActionLink("Directorio", "Index", "EstadoMedidas")</li>
                                       
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>