@model IEnumerable<sinfo.Areas.Cnp.Models.PermisoServicioWeb>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PermisoServicioWebId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UrlBase.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UrlServicioWeb.UrlServicioWebId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UrlServicioWeb.Url)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UsuarioAutorizado.Usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vigente)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PermisoServicioWebId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UrlBase.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UrlServicioWebId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UrlServicioWeb.Url)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UsuarioAutorizado.Usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vigente)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PermisoServicioWebId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PermisoServicioWebId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PermisoServicioWebId })
        </td>
    </tr>
}

</table>
